:root {
    --cor__principal: #e5adff;
    --cor__secundaria: #111427;
    --cor__terciaria: #e5adff;
    --fonte__logo: "Funnel Display", sans-serif;
    --fonte__padrao: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--cor__principal);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: rgb(148, 67, 173, 0.5);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1020; /* Para garantir que o header fique sobre o conteúdo do Bootstrap */
    font-size: 2rem;
    font-family: var(--fonte__logo);
    color: var(--cor__secundaria);
}

.cabecalho__navabar {
    display: flex;
    gap: 1rem;
}

.cabecalho__navabar__componentes {
    color: var(--cor__secundaria);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
    font-family: var(--fonte__logo);
}

.cabecalho__navabar__componentes:hover {
    color: var(--cor__terciaria);
}

main {
    background-color: var(--cor__secundaria);
    font-family: var(--fonte__padrao);
    text-align: justify;
    padding: 0rem 2rem 0rem 2rem;
}

.hero__foto {
    width: 100%;
    height: auto;
}

.button__hero {
    width: 1px;
    padding: 1rem;
    font-size: 2rem;
    background-color: var(--cor__principal);
    color: var(--cor__secundaria);
    border-color: var(--cor__principal);
    border-style: solid;
    border-radius: 3rem;
    box-shadow: 0px 0px 10px #ebb8ff;
    text-decoration: none;
}

.hero__txt{
    padding: 2rem;
    text-align: justify;
}

.hero,
.sobre{
    padding: 4rem 0 0 0;
}

.sobre__titulo {
    color: var(--cor__principal);
    text-align: center;
    font-size: 3rem;
    font-family: var(--fonte__logo);
}

p {
    font-size: 1.5rem;
    text-align: left;
    color: var(--cor__principal);
}

.profissionais__titulo {
    color: var(--cor__principal);
    font-family: var(--fonte__logo);
    text-align: center;
    font-size: 3rem;
    padding: 5% 3%;
}

.profissionais__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Garante que o texto dentro do card fique alinhado */
    width: 100%; /* Ocupa 100% da coluna do Bootstrap */
    height: 100%; /* Ocupa 100% da altura para alinhamento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    transition: transform 0.3s ease;
}

.profissionais__nome {
    color: var(--cor__principal);
}

.profissionais__foto {
    width: 100%;
    height: auto;
    border-color: var(--cor__principal);
    border-style: solid;
    border-radius: 12%;
    box-shadow: 0px 0px 10px #000000;
}

.servicos__titulo {
    color: var(--cor__principal);
    font-family: var(--fonte__logo);
    text-align: center;
    font-size: 3rem;
    padding: 5% 3%;
}

.servicos__curso__titulo {
    font-size: 2rem;
    text-align: left;
    color: var(--cor__principal);
}

.servicos__curso__foto {
    width: 19rem;
    height: auto;
    border-style: none;
    border-color: var(--cor__principal);
    border-radius: 5%;
}

footer {
    padding: 1% 2%;
    background-color: var(--cor__principal);
    font-size: 1rem;
    font-family: var(--fonte__padrao);
    color: var(--cor__secundaria);
}

.contato__titulo {
    text-align: center;
    font-family: var(--fonte__logo);
    font-size: 3rem;
    padding: 2rem 0rem;
}

.contatos__link {
    text-decoration: none;
    color: var(--cor__secundaria);
}

.contato__logo {
    width: 2.5rem;
    height: auto;
    padding: 0.4rem;
    background-color: var(--cor__principal);
    border-style: none;
    border-radius: 30%;
    transition: all 0.3s ease-in-out;
    border-width: 0.25rem;
    box-shadow: 0rem 0rem 0.6rem #000000;
}

.contato__logo:hover {
    background-color: var(--cor__terciaria);
    transform: translateY(-10px);
}

.dedicatoria__texto {
    font-style: italic;
    text-align: center;
    color: var(--cor__secundaria);
}